from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from dirty_cat import SimilarityEncoder, GapEncoder, MinHashEncoder

OPENML_APIKEY   = ""
CV_DIR          = "cv_folds"
CACHE_DIR       = "cache"
OUTPUT_FILENAME = "results.csv"
CV_N_JOBS          = 5

PIPELINE_CONFIGS = [
  {
    "string_encoder"    : SimilarityEncoder(),
    "imputer"           : SimpleImputer(strategy="most_frequent"),
    "learning_algorithm": RandomForestClassifier()
  },
  {
    "string_encoder"    : GapEncoder(),
    "imputer"           : SimpleImputer(strategy="most_frequent"),
    "learning_algorithm": RandomForestClassifier()
  },
  {
    "string_encoder"    : MinHashEncoder(),
    "imputer"           : SimpleImputer(strategy="most_frequent"),
    "learning_algorithm": RandomForestClassifier()
  },
]

RESULT_FORMAT = {
  "data_id"           : "",
  "name"              : "",
  "fold_nr"           : "",
  "metric"            : "",
  "string_encoder"    : "",
  "imputer"           : "",
  "learning_algorithm": "",
  "cv_score"          : -1,
  "fit_time"          : -1,
  "predict_time"      : -1,
}
